.filterBar {
    display: flex;
    gap: 16px;
    padding: 16px 32px;
    background-color: #BFBDB2;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
    flex-direction: column;
    width: 100%;
  }
  
  .button {
    background: none;
    border: 1px solid #112521;
    padding: 8px 16px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #112521;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: #103F31;
    color: white;
  }
  
  .active {
    background-color: #112521;
    color: white;
  }

.typeSection {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.rangeSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rangeFilter {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 14px;
  color: #112521;
  font-family: Arial, sans-serif;
}

.rangeInput {
  width: 100%;
  height: 8px;
  background: #ddd;
  outline: none;
  -webkit-appearance: none;
  border-radius: 4px;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #112521;
  border-radius: 50%;
  cursor: pointer;
}

.rangeInput::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #112521;
  border-radius: 50%;
  cursor: pointer;
}