.header {
  background-color: var(--color-pine);
  color: var(--color-slate);
  padding: 24px 32px;
  font-family: var(--font-family-headings);
  font-size: var(--font-size-lg);
  min-height: 80px;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-slate);
  flex: 0 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex: 1;
}

.cta {
  display: flex;
  gap: 16px;
  flex: 0 0 auto;
  justify-content: flex-end;
  margin-right: -20px;
  align-items: center;
  height: 100%;
}

.nav__link,
.cta__link {
  color: var(--color-slate);
  text-decoration: none;
  font-size: var(--font-size-base);
  transition: color var(--duration-fast);
  line-height: 1.5;
  padding: 6px 12px;
  display: flex;
  align-items: center;
}

.nav__link:hover,
.cta__link:hover {
  color: var(--color-slate);
}

.nav__link--active {
  font-weight: var(--font-weight-semibold);
  border-bottom: 2px solid var(--color-slate);
}

.cta__link--primary {
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--color-slate);
  padding: 6px 12px;
  border-radius: 4px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}